#articleIntro, #article, #articleHelp, #articleEnd{ 
    width: 880px;
    height: 640px;
    position: absolute;
    background-color: rgb(17, 17, 17);
    left: 50%;     
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    box-shadow: 0px 0px 0px 3px rgb(82, 57, 206) inset;
    overflow: hidden;
}

#article, #articleHelp, #articleEnd{ 
    display: none;
    opacity: 0;
}

#mainPic{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#introBlock1, #introBlock2, #introBlock3, #introBlock4, #helpBlock1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);   
    width: 200px;
    height: 75px; 
    color: rgb(215,215,215);
    box-shadow: 0px 0px 0px 3px rgb(82, 57, 206) inset;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);  
}

#introBlock2, #introBlock4, #helpBlock1{
    box-shadow: 0px 0px 0px 3px rgb(45, 45, 45) inset; 
}

#introBlock1{
    display: none;
    bottom: 275px;
}

#introBlock2{
    bottom: 190px;
}

#introBlock3{
    bottom: 105px;
}

#introBlock4{
    bottom: 20px;
}

#helpBlock1{
    bottom: 20px;
}

.introBlockText{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.introExit1, .introExit2, .introExit3, .introExit4{
    position: absolute;
    height: 81px;
    width: 4px;
    background-color: rgb(17, 17, 17);
}

.introExit1{
    bottom: 17px;
    left: 0px;
}

.introExit2{
    bottom: 102px;
    left: 876px;
}

.introExit3{
    bottom: 187px;
    left: 0px;
}

.introExit4{
    display: none;
    bottom: 272px;
    left: 876px;
}

.cursiveEnd{
    font-style: italic;
    position: absolute;
    top: 170px;
    left: 70px;
    font-size: 18px;
    color: rgb(215,215,215);
}

.cursiveEnd2{
    font-style: italic;
    position: absolute;
    top: 205px;
    left: 350px;
    font-size: 18px;
    color: rgb(215,215,215);
}

#playAgainButton{
    position: absolute;
    height: 75px;
    width: 4px;
    background-color: rgb(17, 17, 17);  
    left: 50%; 
    bottom: 30px;
    transform: translate(-50%, 0%);
    box-shadow: 0px 0px 0px 2px rgb(82, 57, 206) inset;
    width: 150px; 
    border-radius: 10px;
}

#playAgainButtonText{
    position: absolute;
    width: 100%;
    left: 50%;
    text-align: center; 
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(215,215,215);
    font-size: 25px;
}

#playAgainExit{
    position: absolute;
    bottom: 27px;
    background-color: rgb(17, 17, 17); 
    height: 81px;
    width: 3px;
    left: 877px;    
}  

.stats{
    right: 19px;
    width: 220px;
    text-align: justify;
    color: rgb(215,215,215);
    z-index: -1;
}

.stat{
    padding: 4px;
    border: 1px solid rgb(82, 57, 206);
    margin-bottom: 10px;
    background-color: rgb(17, 17, 17);
}

.stat:hover{
    cursor: n-resize;
}

.line{
    border-top: 1px solid rgb(82, 57, 206);
    margin-bottom: 10px;
    height: 0px;
}

#levelValue, #scoreValue, #bestScoreValue, #movesValue, #backslidesValue{
    position: absolute;
    display: inline;
    right: 5px;
}

.buttonsBox{
    width: 220px;
    height: 32px;   
    position: absolute;
    left: 0;
    color: rgb(215,215,215);
}

.articleButtons{
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(82, 57, 206);
    top: 0px;
    width: 30px;
    height: 30px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    font-size: 20px;
}

.articleButtons:hover{
    cursor: pointer;
}

.backButtonText, .resetButtonText, .menuButtonText, .saveButtonText, .helpButtonText, .settingsButtonText{
    position: absolute;
}

#backButton{
    left: 0px;
}

.backButtonText{ 
    font-size: 24px;
    left: 4px;
    top: -1.5px;
}

#resetButton{
    left: 38px;
}

.resetButtonText{
    font-size: 24px;
    left: 4.5px;
    top: -2.5px;
}

#menuButton{
    left: 76px;
}

.menuButtonText{
    left: 5.5px;
    top: 0.5px;
}

#saveButton{
    left: 114px;
}

.saveButtonText{
    left: 6px;
    top: 0px;
}

#settingsButton{
    left: 152px;
}

.settingsButtonText{
    left: 3.5px;
    top: 0.5px;
}

#helpButton{
    right: 0;
}

.helpButtonText{
    font-size: 24px;
    font-family: Verdana;
    left: 7px;
    top: 1.5px;
}