#game, .stats, #chooseLevel, #articleHelpInner, #articleHelpInner2, #levelCompleted, .levelCompleted, #settings{
    position: absolute;
    top: 20px;
}

#game{
    box-shadow: 0px 0px 0px 2px rgb(82, 57, 206) inset;
    left: 20px;
    width: 600px;
    height: 600px;
    background-color: rgb(10, 10, 10);
    z-index: -1;
    overflow: hidden;
    opacity: 1;
}

#chooseLevel{
    opacity: 0;
    display: none;
    left: 20px;
    width: 600px;
    height: 600px;
    z-index: -1;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 0px 2px rgb(82, 57, 206) inset;
}

#levelCompleted{
    opacity: 0;
    display: none;
    left: 20px;
    width: 841px;
    height: 600px;
    z-index: -1;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 0px 2px rgb(82, 57, 206) inset;
    overflow: hidden;
}

#settings{
    box-shadow: 0px 0px 0px 2px rgb(82, 57, 206) inset;
    left: 20px;
    width: 600px;
    height: 600px;
    background-color: rgb(10, 10, 10);
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    display: none;   
}

#articleHelpInner{
    left: 18px;
    height: 505px;
    width: 840px;
    color: rgb(215,215,215);
    font-size: 20px;
    text-align: justify;
}

#articleHelpInner2{
    left: 18px;
    height: 505px;
    width: 840px;
    color: rgb(215,215,215);
    font-size: 20px;
    text-align: left;
    display: none;
}

.arrowContainer{
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 124px;
    height: 54px;
    color: rgb(215,215,215);
}

#leftArrow, #rightArrow{
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

#rightArrow{
    left: 70px;
}

.chooseLevelButton, .chooseLevelButtonDisabled{
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    border: 3px solid rgb(82, 57, 206);
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    margin: 15px;
    display: inline-block;
}

.chooseLevelButtonText, .chooseLevelButtonDisabledText{
    text-align: center;
    color: rgb(215,215,215);
    font-size: 30px;
    padding-top: 10px;
}

.block{
    position: absolute;
    background-color: rgba(0,0,0,0);
}

.blockInner, .targetBlockInner{
    background-color: rgb(45, 45, 45);
    position: absolute;
    border-radius: 10px;
}

.targetBlockInner{
    background-color: rgb(82, 57, 206);
}

.exit{
    background-color: rgb(10, 10, 10);   
}

.levelCompletedHeading{
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, 0%);
    font-size: 55px;
}

.levelCompletedTimeText, .levelCompletedScoreText, .levelCompletedBestScoreText, .levelCompletedMovesText{
    position: absolute;
    font-size: 25px;
    width: 275px;
    left: 131px;
    text-align: right;
    color: rgb(215, 215, 215);
}

.levelCompletedTimeText{
    top: 150px;
}

.levelCompletedScoreText{
    top: 180px;
}

.levelCompletedBestScoreText{
    top: 210px;
}

.levelCompletedMovesText{
    top: 240px;
}

#levelCompletedTimeValue, #levelCompletedScoreValue, #levelCompletedBestScoreValue, #levelCompletedMovesValue{
    position: absolute;
    font-size: 25px;
    width: 275px;
    right: 139px;
    text-align: left;
    color: rgb(215, 215, 215);
}

#levelCompletedTimeValue{
    top: 150px;
}

#levelCompletedScoreValue{
    top: 180px;
}

#levelCompletedBestScoreValue{
    top: 210px;
}

#levelCompletedMovesValue{
    top: 240px;
}

#replayButton, #nextButton{
    position: absolute;
    width: 150px;
    height: 75px;
    bottom: 23px;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
}

#nextButton{
    box-shadow: 0px 0px 0px 2px rgb(82, 57, 206) inset;
    left: 430px;
}

#replayButton{
    box-shadow: 0px 0px 0px 2px rgb(45, 45, 45) inset;   
    left: 250px;
}

#replayButtonText, #nextButtonText{
    color: rgb(215, 215, 215);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#levelCompletedMsgExit1, #levelCompletedMsgExit2{
    position: absolute;
    bottom: 20px;
    background-color: rgb(10, 10, 10); 
    height: 81px;
    width: 3px;
}

#levelCompletedMsgExit1{
    left: 0px;
}

#levelCompletedMsgExit2{
    left: 838px;
}

#settingsBackButton{
    position: absolute;
    width: 150px;
    height: 75px;
    bottom: 23px;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 0px 2px rgb(45, 45, 45) inset;   
    left: 50%;
    transform: translate(-50%, 0%);   
}

.settingsBackButtonText{
    color: rgb(215, 215, 215);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;    
}

.settingsExit{
    position: absolute;
    bottom: 20px;
    background-color: rgb(10, 10, 10); 
    height: 81px;
    width: 3px;
    left: 0;    
}

#settingsLeft{
    position: absolute;
    color: rgb(215, 215, 215);
    height: 596px;
    width: 275px;
    left: 2px;
    top: 2px;
}

.colorButton{
    width: 100%;
    height: 100%;
}

.colorButton:hover{
    cursor: pointer;
}

#settingsRight{
    position: absolute;
    height: 596px;
    width: 275px;
    right: 2px;
    top: 2px;
}

.jscolor{
    border: 0px solid black;
    text-align: center;
}

.settingsText{
    position: absolute;
    right: 0px;
}

.settingsGadgets{
    position: absolute;
    left: 0px;   
    width: 200px;
    height: 20px;
}

.settingsText1{
    top: 50px;
}

.settingsText2{
    top: 90px;
}

.settingsText3{
    top: 130px;
}

.settingsText4{
    top: 170px;
}

.settingsText5{
    top: 210px;
}

.settingsText6{
    top: 250px;
}

.settingsText7{
    top: 290px;
}

.settingsGadgets1{
    top: 50px;
}

.settingsGadgets2{
    top: 90px; 
}

.settingsGadgets3{
    top: 130px;
}

.settingsGadgets4{
    top: 170px; 
}

.settingsGadgets5{
    top: 210px;
}

.settingsGadgets6{
    top: 250px; 
}

.settingsGadgets7{
    top: 290px;
}