body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: 18px;
    -webkit-print-color-adjust: exact;
}

#container{
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 0px 3px rgb(82, 57, 206) inset;
    position: absolute;
    width: 70%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 340px;
}

#one, #two{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

#one{
    background-color: rgb(96, 97, 56);
    display: inline-block;
}

#two{
    background-color: rgb(78, 41, 41);
    display: inline-block;
}

header{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

h2{
    display: none;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}
    
a:active{
    color: white;
    text-decoration: none;
}
    
a{
    color: white;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}