#footer{ 
    position: fixed;
    bottom: -103px;
    background-color: rgb(17, 17, 17);
    border-top: 3px solid rgb(82, 57, 206);
    width: 100%;
    height: 100px;
    display: none;
    opacity: 0;
    font-family: Comic Sans MS;
}

#toogleFooterButton, #currentDateTime{
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: -49px;
    padding: 10px;
    color: rgb(215,215,215);
    padding-top: 8px;
    transform: translate(-50%, 0%);
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(17, 17, 17);
    border: 3px solid rgb(82, 57, 206);
    border-width: 3px 3px 0px 3px;
    z-index: -1;
}

#currentDateTime{
    transform: none; 
    left: auto; 
    right: 10px;
    top: -63px;
    font-size: 15px;  
    text-align: center;
    z-index: -1;
}

.myDebugField{
    color: rgb(215,215,215);
    border: 2px solid rgb(82, 57, 206);
    position: absolute;  
    top: 15px;
    left: 10px;
    width: 320px; 
    height: 70px;
    border-radius: 10px;
}

.setBestScoreText, .setLastLevelPlayedText{
    position: absolute;
    left: 10px;
    top: 8px;
}

.setBestScoreText{
    top: 38px;
}

.footerInputs{
    position: absolute;
    right: 55px;
    top: 10px;
    border-radius: 3px;
    border: 1px solid rgb(82, 57, 206);
    background-color: rgb(17, 17, 17);
    outline: none; 
    font-family: Comic Sans MS;
    color: rgb(215,215,215);
}

#setBestScoreButton, #setLastLevelPlayedButton{
    right: 10px;
    width: 35px;
    height: 23px;
}

#setBestScore{
    width: 68px;
}

#setLastLevelPlayed{
    width: 78px;
}

#setBestScore, #setBestScoreButton{
    top: 38px;
}

.setLastLevelPlayedButtonText, .setBestScoreButtonText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wipeLocalStorage{
    position: absolute;
    outline: none; 
    top: -2px;
    left: 332px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid rgb(82, 57, 206);
    background-color: rgb(17, 17, 17);
}

.wipeLocalStorageText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(215,215,215);
}

.showLocalStorage{
    position: absolute;
    outline: none; 
    top: -2px;
    left: 449px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid rgb(82, 57, 206);
    background-color: rgb(17, 17, 17);
}

.showLocalStorageText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(215,215,215);
}

.picContainer{
    position: absolute;
    outline: none; 
    top: -2px;
    left: 563px;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid rgb(82, 57, 206);
    background-color: rgb(17, 17, 17);
    text-align: center;
}

.footerPic{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}