body{
    background-color: rgb(25, 25, 25);
    background-attachment: fixed;
    font-family: Comic Sans MS;
    font-size: 15px;
    color: rgb(82, 57, 206);
    margin: 0;
    padding: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; /* Validator w3jigsaw says it doesnt exist ... it does and it´s needed for previous 3 lines, or they wont work*/  
    overflow: hidden;
    -webkit-print-color-adjust: exact;
} 

h1, h2{
    display: none;
}

h3{
    text-align: center;
}

.pointerOnHover:hover{
    cursor: pointer;
}

span{
    font-family: monospace;
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.helpList:before{
    content: '› ';
}